@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0fcea;
  width: 210vh;
}

.menu {
  display: flex;
  background-color: #0c4e26;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  display: flex;
  text-wrap: nowrap;
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.menu a {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu .logo {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.menu .logo img {
  width: 65px;
}
.menu .casa img {
  width: 45px;
  display: flex;
}
.menu .search-bar input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/Grupo_indigenas.jpg);
  color: white;
  height: 180px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 210vh 700px;
}
.navbar .verde {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210vh;
  height: 180px;
  background-color: #0c4e26;
  opacity: 0.85;
}
.navbar .verde h2 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  opacity: 0.8;
  animation: tracking-in-contract 10s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}
h1 {
  font-family: "Italiana", sans-serif;
}

li {
  font-family: "Oswald", sans-serif;
  font-weight: 530;
  font-size: 20px;
}

.content {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 80px 100px 80px 100px;
}
.content h3 {
  margin-left: 40px;
}
.content p {
  margin-right: 40px;
  padding-top: 20px;
}
.content p1 {
  display: flex;
  font-size: 8px;
  align-self: flex-end;
}
.content li {
  margin: 0px 40px 0px 60px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 16px;
}
.content .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content img {
  width: 500px;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 0px 30px #073519;
}

.content2 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: keep-all;
}
.content2 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content2 p {
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 40px;
}
.content2 p1 {
  display: flex;
  font-size: 8px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
.content2 li {
  margin: 30px 40px 0px 60px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 16px;
}
.content2 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content2 img {
  float: right;
  width: 70vh;
  margin-left: 5vh;
  border: 5px solid #0c4e26;
  border-radius: 2.5vh;
  box-shadow: 0px 1px 30px #073519;
}
.content2 a {
  text-decoration: none;
  color: black;
}
.content2 a :visited {
  color: rgba(153, 153, 153, 0.6);
}
.content2 a :active {
  color: #197732;
}
.content2 a :hover {
  color: #0c5c2a;
}

.content4 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: keep-all;
}
.content4 .videos {
  padding-top: 2vh;
  width: 190vh;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6vh;
}
.content4 .videos iframe {
  border-radius: 3vh;
  width: 80vh;
  height: 48vh;
}
.content4 .videos p1 {
  padding-left: 5vh;
  display: flex;
  font-size: 16px;
  text-align: center;
}
.content4 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content4 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}

.graficos-populacao {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 21vh;
}
.graficos-populacao img {
  margin: 20px 0px 20px 0px;
}

.espaco {
  padding-bottom: 80px;
}

.rodape {
  display: flex;
  background-image: url(images/Grupo_indigenas.jpg);
  color: white;
  width: 210vh;
  height: 180px;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 210.1vh 700px;
}
.rodape .verde_rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210.1vh;
  height: 180px;
  background-color: #0c4e26;
  opacity: 0.85;
}
.rodape .rodape_nos {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.rodape .rodape_nos ul {
  justify-content: space-around;
  overflow: hidden;
  padding: 0px 100px 0px 100px;
}
.rodape .rodape_nos li {
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.rodape .rodape_nos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.imagem img {
  width: 500px;
  border-radius: 3vh;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 0px 20px #073519;
  transition: 400ms linear;
}
.imagem img:hover {
  transform: scale(1.01);
}

.direitos_rodape {
  background-color: #073519;
  height: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.direitos_rodape p {
  color: #F5DAA3;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content3 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: break-all;
}
.content3 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content3 p {
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 40px;
}
.content3 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content3 a {
  text-decoration: none;
  color: black;
}
.content3 a :visited {
  color: rgba(153, 153, 153, 0.6);
}
.content3 a :active {
  color: #197732;
}
.content3 a :hover {
  color: #0c5c2a;
}

.menu {
  display: flex;
  background-color: #0c4e26;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  display: flex;
  text-wrap: nowrap;
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.menu a {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu .logo {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.menu .logo img {
  width: 65px;
}
.menu .casa img {
  width: 45px;
  display: flex;
}
.menu .search-bar input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 20vh;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}

h3 {
  padding-top: 80px;
  margin-left: 21.5vh;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
}

.pg-inicial {
  display: flex;
  flex-direction: column;
  width: 210vh;
  height: 87vh;
  background-image: url(images/fundo-indigena.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite DE Grund", cursive;
}
.pg-inicial .escrita {
  margin: 0 20vh 0 20vh;
}
.pg-inicial p {
  animation: text-shadow-pop-tl 0.6s both;
  font-size: 6.5vh;
  font-weight: 700;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-bottom: 5vh;
}
.pg-inicial button {
  background-color: #2f602c;
  width: 16vh;
  height: 6.5vh;
  border-radius: 10vh;
  box-shadow: -4px 4px 4px #303e2c;
}

@keyframes text-shadow-pop-tl {
  0% {
    text-shadow: 0 0 #51724f, 0 0 #51724f, 0 0 #51724f, 0 0 #51724f, 0 0 #51724f, 0 0 #51724f, 0 0 #51724f, 0 0 #51724f;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f, -3px -3px 2px #51724f;
    transform: translateX(8px) translateY(8px);
  }
}
.image-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.image-container .image-box {
  position: relative;
  width: 300px;
  height: 200px;
}
.image-container .image-box a {
  display: flex;
  text-decoration: none;
  color: #fff;
}
.image-container .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  font-size: 18px;
}

.image-box:hover .image {
  transform: scale(1.1);
}

.image-box:hover .overlay {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */