@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

bodyq {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0fcea;
  width: 210vh;
}

.menu {
  display: flex;
  background-color: #0c4e26;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  display: flex;
  text-wrap: nowrap;
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.menu a {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu .logo {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.menu .logo img {
  width: 65px;
}
.menu .casa img {
  width: 45px;
  display: flex;
}
.menu .search-bar input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/Grupo_indigenas.jpg);
  color: white;
  height: 180px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 210vh 700px;
}
.navbar .verde {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210vh;
  height: 180px;
  background-color: #0c4e26;
  opacity: 0.85;
}
.navbar .verde h2 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  opacity: 0.8;
  animation: tracking-in-contract 10s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}
h1 {
  font-family: "Italiana", sans-serif;
}

li {
  font-family: "Oswald", sans-serif;
  font-weight: 530;
  font-size: 20px;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.content {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 80px 100px 80px 100px;
}
.content h3 {
  margin-left: 40px;
}
.content p {
  margin-right: 40px;
  padding-top: 20px;
}
.content p1 {
  display: flex;
  font-size: 8px;
  align-self: flex-end;
}
.content li {
  margin: 0px 40px 0px 60px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 16px;
}
.content .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content img {
  width: 500px;
  border-radius: 40px;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 0px 30px #073519;
}

.content2 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: keep-all;
}
.content2 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content2 p {
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 40px;
}
.content2 p1 {
  display: flex;
  font-size: 8px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
.content2 li {
  margin: 30px 40px 0px 60px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 16px;
}
.content2 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content2 img {
  width: 500px;
  border-radius: 40px;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 1px 30px #073519;
}
.content2 a {
  text-decoration: none;
  color: black;
}
.content2 a :visited {
  color: rgba(153, 153, 153, 0.6);
}
.content2 a :active {
  color: #197732;
}
.content2 a :hover {
  color: #0c5c2a;
}

.content4 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: keep-all;
}
.content4 .videos {
  padding-top: 2vh;
  width: 190vh;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6vh;
}
.content4 .videos iframe {
  border-radius: 3vh;
  width: 80vh;
  height: 48vh;
}
.content4 .videos p1 {
  padding-left: 5vh;
  display: flex;
  font-size: 16px;
  text-align: center;
}
.content4 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content4 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}

.graficos-populacao {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: end;
}
.graficos-populacao img {
  margin: 20px 0px 20px 0px;
  border-radius: 25px;
}

.espaco {
  padding-bottom: 80px;
}

.rodape {
  display: flex;
  background-image: url(images/Grupo_indigenas.jpg);
  color: white;
  width: 210vh;
  height: 180px;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 210.1vh 700px;
}
.rodape .verde_rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210.1vh;
  height: 180px;
  background-color: #0c4e26;
  opacity: 0.85;
}
.rodape .rodape_nos {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.rodape .rodape_nos ul {
  justify-content: space-around;
  overflow: hidden;
  padding: 0px 100px 0px 100px;
}
.rodape .rodape_nos li {
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.rodape .rodape_nos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.imagem img {
  width: 500px;
  border-radius: 40px;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 0px 30px #073519;
  transition: 400ms linear;
}
.imagem img:hover {
  transform: scale(1.01);
}

.direitos_rodape {
  background-color: #073519;
  height: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.direitos_rodape p {
  color: #F5DAA3;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content3 {
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 18px;
  padding: 0px 100px 0px 100px;
  word-break: break-all;
}
.content3 h3 {
  padding-top: 80px;
  margin-left: 40px;
}
.content3 p {
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 40px;
}
.content3 p1 {
  display: flex;
  font-size: 8px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
.content3 li {
  margin: 30px 40px 0px 60px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 16px;
}
.content3 .linha_texto {
  height: 5px;
  width: 230px;
  background-color: #1f8347;
  margin-left: 30px;
  box-shadow: 0px 0px 30px #073519;
  margin-bottom: 20px;
}
.content3 img {
  width: 500px;
  border-radius: 40px;
  justify-self: center;
  border: 5px solid #0c4e26;
  box-shadow: 0px 1px 30px #073519;
}
.content3 a {
  text-decoration: none;
  color: black;
}
.content3 a :visited {
  color: rgba(153, 153, 153, 0.6);
}
.content3 a :active {
  color: #197732;
}
.content3 a :hover {
  color: #0c5c2a;
}

.menu {
  display: flex;
  background-color: #0c4e26;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  display: flex;
  text-wrap: nowrap;
  width: 200px;
  height: 35px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 780;
}
.menu a {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu .logo {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.menu .logo img {
  width: 65px;
}
.menu .casa img {
  width: 45px;
  display: flex;
}
.menu .search-bar input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.fundocarrossel {
  margin: 1vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210vh;
  height: 120vh;
}
.fundocarrossel .borda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170vh;
  border-radius: 3vh;
  height: 110vh;
  background-image: url(images/tribal-fundo.jpg);
}
.fundocarrossel .index-content {
  align-items: center;
  background-color: #155726;
  opacity: 0.9;
  display: flex;
  width: 120vh;
  height: 32vh;
  border-radius: 2vh;
}
.fundocarrossel .index-content .escrita {
  text-align: center;
  font-family: "Playwrite DE Grund", cursive;
  color: rgb(255, 255, 255);
  font-size: 3.5vh;
  margin: 3vh;
  align-self: center;
}

.carrossel {
  padding: 5vh 0vh;
}

.slider {
  border-radius: 2vh;
  margin: 0 auto;
  width: 100vh;
  height: 400px;
  overflow: hidden;
}
.slider .slides {
  width: 400%;
  height: 400px;
  display: flex;
}
.slider .slides input {
  display: none;
}
.slider .slides .slide {
  width: 25%;
  position: relative;
  transition: 2s;
}
.slider .slides .slide img {
  width: 800px;
}
.slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}
.slider .slides #radio2:checked ~ .first {
  margin-left: -25%;
}
.slider .slides #radio3:checked ~ .first {
  margin-left: -50%;
}
.slider .slides #radio4:checked ~ .first {
  margin-left: -75%;
}
.slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
.slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
.slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
.slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}
.slider .slides .navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.slider .slides .navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
.slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
.slider .manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.slider .manual-navigation .manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.slider .manual-navigation .manual-btn:not(:last-child) {
  margin-right: 40px;
}
.slider .manual-navigation .manual-btn:hover {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */