$color-header-bg: hsl(181, 76%, 23%);
$color-li-bg: hsl(144, 39%, 69%);
$color-linha-tit-bg: hsl(126, 53%, 56%);
$color-content-bg: hsl(144, 39%, 69%);
$color-content-pg-bg: hsl(150, 77%, 91%);
$color-body-content-bg: hsl(150, 77%, 91%);

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0fcea;
    width: 210vh;
}

.menu {
    display: flex;
    background-color: #0c4e26;
    height: 60px;
    justify-content: space-around;
    align-items: center ;

    li {
        display: flex;
        text-wrap: nowrap;
        width: 200px;
        height: 35px;
        text-align: center;
        list-style: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 780;
    }

    a {
        display: flex;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .logo {
        font-size: 28px;
        font-weight: bold;
        justify-content: center;
        display: flex;

        img {
            width: 65px;
        }
    }

    .casa {
        img {
            width: 45px;
            display: flex;
        }
    }

    .search-bar input[type="text"] {
        padding: 10px;
        border: none;   
        border-radius: 4px;
        font-size: 16px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Grupo_indigenas.jpg);
    color: white;
    height: 180px;
    
    .verde {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 210vh;
        height: 180px;
        background-color: #0c4e26;
        opacity: 0.85;

        h2 {
            font-family: "Dancing Script", cursive;
            font-size: 80px;
            opacity: 0.8;
        }
    }
    background-repeat: no-repeat;
    background-position: top;
    background-size: 210vh 700px;
}

h1 {
    font-family: "Italiana", sans-serif;
}

li {
    font-family: "Italiana", sans-serif;
    font-weight: 530;
    font-size: 20px;
}

.content {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  text-align: left;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 18px;
    padding: 80px 100px 80px 100px;

    h3 {
        margin-left: 40px;
    }

    p {
        margin-right: 40px;
        padding-top: 20px;
    }

    p1 {
        display: flex;
        font-size: 8px;
        align-self: flex-end;
    }

    li {
        margin: 0px 40px 0px 60px;
        font-family: "Playwrite DE Grund", cursive;
        font-size: 16px;
    }
    

    .linha_texto {
        height: 5px;
        width: 230px;
        background-color: #1f8347;
        margin-left: 30px;
        box-shadow: 0px 0px 30px #073519;
        margin-bottom: 20px;
    }


    img {
        width: 500px;
        border-radius: 40px;
        justify-self: center;
        border: 5px solid #0c4e26;
        box-shadow: 0px 0px 30px #073519;
    }
}

.content2 {
    height: auto;
    display: flex;
    align-items: center;  
    text-align: left;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 18px;
    padding: 0px 100px 0px 100px;

    h3 {
        padding-top: 80px;
        margin-left: 40px;
    }

    p {
        margin-left: 0px;
        margin-top: 30px;
        margin-right: 40px;
    }

    p1 {
        display: flex;
        font-size: 8px;
        align-self: flex-end;
        padding: 0;
        margin: 0;
        border: 0;
    }

    li {
        margin: 30px 40px 0px 60px;
        font-family: "Playwrite DE Grund", cursive;
        font-size: 16px;
    }

    .linha_texto {
        height: 5px;
        width: 230px;
        background-color: #1f8347;
        margin-left: 30px;
        box-shadow: 0px 0px 30px #073519;
        margin-bottom: 20px;
    }


    img {
        width: 500px;
        border-radius: 40px;
        justify-self: center;
        border: 5px solid #0c4e26;
        box-shadow: 0px 1px 30px #073519;
    }   
}

.graficos-populacao {
    display: flex;
    flex-direction: column;

    img {
        margin: 20px 0px 20px 0px;
        border-radius: 25px
    }
}

.espaco {
    padding-bottom: 80px;
}


.rodape {
    display: flex;
    background-image: url(images/Grupo_indigenas.jpg);
    color: white;
    width: 210vh;
    height: 180px;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 210.1vh 700px;

    .verde_rodape {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 210.1vh;
        height: 180px;
        background-color: #0c4e26;
        opacity: 0.85;
    }

    .rodape_nos {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;

        ul {
            justify-content: space-around;
            overflow: hidden;
            padding: 0px 100px 0px 100px;
        }
        li {
            width: 200px;
            height: 35px;
            text-align: center;
            list-style: none;
            cursor: pointer;
            font-size: 22px;
            font-weight: 780;
        }

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
    }
}


